* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contaier {
    width: 100%;
    background: #000;
}

.main {
    height: 80vh;
    width: 100%;
    position: relative;
    background-image: url(https://www.shortlist.com/media/imager/202401/62264-posts.facebook_lg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
    position: absolute;
    z-index: 1;
    /* animation: nav 0.4s ease; */

}

/* @keyframes nav {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0px);
    }

} */

nav h1 {
    color: red;
    font-size: 3rem;


}

button {
    margin-left: 20px;
    padding: 10px 25px;
}

.btn1 {
    border: 1px solid white;
    color: white;
    background: none;
}

.btn2 {
    border: 1px solid red;
    background-color: red;
    /* border: none; */
    color: white;
}

.box {
    height: 80vh;
    width: 100vw;
    background-color: black;
    opacity: 0.80;
    position: absolute;
    top: 0;
    z-index: 1;
}

.text-big {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 40%;
    color: white;
    font-family: sans-serif;
}

.text-big h1 {
    color: white;
    font-size: 3rem;
}

.more {
    text-align: center;
}

.para1 {
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

input {
    margin-top: 20px;
    width: 60%;
    padding: 15px 25px;
}

.get {
    background-color: red;
    border: 1px solid red;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
}

::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    /* text-align: left; */
    position: relative;
    left: -10px;


}

.now {
    color: white;
    padding: 20px;
    padding-left: 50px;
    /* text-align: center; */
    background-color: black;
}

hr {
    border: 2px solid red;
}

.now h1 {
    margin-left: 20px;
}

select {
    margin-top: 15px;
    height: 30px;
    width: 80px;
    margin-left: 20px;
    color: white;
    background: #000;
}

.hero {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    gap: 25px;
}

.box1 {
    height: 250px;
    width: 250px;
    position: relative;
    transition: all 0.5s ease-in;
    animation: box1 1s 1;
    border-radius: 14px;

}
@keyframes box1 {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.box1:hover {
    transform: scale(1.02);
}

.box1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* background-size: cover; */
    position: absolute;
    z-index: 80;
    border-radius: 14px;
}

.box {
    position: relative;
}

h4 {
    position: absolute;
    bottom: 0;
    left: 42px;
    z-index: 111;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(189, 28, 28);
    color: white;
}

.join h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    padding-left: 5%;
    padding-bottom: 10px;
    background: #000;
}

.enjoy {
    height: 30vh;
    width: 100%;
    /* border: 2px solid black; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    gap: 25px;
}

.on {
    height: 250px;
    width: 250px;
    border-radius: 14px;
    /* border: 2px solid red; */
    background: linear-gradient(149deg, #192247 4%, #210e17 96.86% ,#2cf609 40px);
    /* background:#00ffee ; */
    position: relative;
    transition: all 0.5s ease-in;
}
.on:hover{
    transform: scale(1.03);
}
.on1{
    animation:on1 1s 1;
}

@keyframes on1{
    from{
       opacity: 1;
    }
    to{
       opacity: 0;
    }
}
.on2{
    animation:on2 1s 1;
}

@keyframes on2{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.on3{
    animation:on3 1s 1;
}

@keyframes on3{
    from{
      opacity: 1;
    }
    to{
       opacity: 0;
    }
}
.on4{
    animation:on4 1s 1;
}

@keyframes on4{
    from{
        opacity: 1;
    }
    to{
       opacity: 0;
    }
}
.on5{
    animation:on5 1s 1;
}

@keyframes on5{
    from{
        opacity: 1;
    }
    to{
       opacity: 0;
    }
}



.on h1 {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.on p {
    color: rgba(255, 255, 255, 0.909);
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;

}

.on i {
    /* background: #00ffee; */
    background: skyblue;
     border-radius: 50%;
     padding: 5px;
    color: rgb(10, 0, 0);
    bottom: 10px;
    right: 10px;
    position: absolute;
    font-size: 2rem;
}

.asked h1 {
    background: #000;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
}

.class {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: auto;
    width: 70%;
    background-color: rgba(128, 128, 128, 0.228);
    padding: 15px;
    margin-bottom: 20px;
    animation: class 0.2s 1;
}

.class h1 {
    font-weight: 100;
    color: white;
    font-size: 1.5rem;
}

.class i {
    color: white;
    font-size: 2rem;
}

.what {
    height: 60vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.941);
    /* margin: 40px; */
    margin-top: 40px;
    animation: class 1s 1;
}
@keyframes class {
    form{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.ready p {

    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background: #000;
}

.create {
    background: #000;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
}

.create input {
    padding: 15px;
    width: 30%;
    color: white;
    border: 1px solid white;
    background-color: black;
    margin-bottom: 10px;
}

.create ::placeholder {
    color: white;
}

.create button {
    padding: 15px;
    color: white;
    background: red;
    border: 1px solid red;
    /* margin-left: 20px; */
}

.footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    animation: footer 0.2s 1;
}
@keyframes footer {
    form{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.footer ul li {

    line-height: 2.5rem;
    font-size: 1.2rem;
    list-style: none;
    font-weight: 100;
}

.english {
    margin-top: 1px;
    padding-left: 290px;
    height: 10vh;
    width: 100%;
}


